
.smallBox {
    background: aqua;
    width: 31%;
    height: 300px;
    transition: 200ms;
}

.h {
    background: chartreuse;
    height: 630px;
    width: 35%;
    transition: 200ms;
}


.flex {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 1%;
    border-radius: 5%;
}

.width_100 {
    width: 100%;
}

.a {
    background: gold;
    height: 100px;
    margin: 2%;
    transition: 200ms;
}

@media screen and (max-width: 800px) {
    .flex {
        flex-wrap: wrap;
    }
    .h{
        height: 200px;
        width: 95%;
    }
.a{
    height: 70px;
}
}
